{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Apps AWS Rekognition {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu-nav.css' %}">
    {% block estilos %}{% endblock %}

</head>
<body>
    <header>
        {% include 'layouts/menu-nav.html'%}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>